<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" th:fragment="fragment_sidebar_menu">
              <div class="menu_section">
                <ul class="nav side-menu">
                
                 <li><a> Stage <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="#">Dimension Stages à l'etranger</a></li>
                      <li><a href="#">Dimension Stages ingénieurs</a></li>
                      <li><a href="#">Dimension Stages Techniciens</a></li>
                      <li><a href="#">Dimension Stages Ouvriers</a></li>
                      <li><a href="#">Dimension Stages général</a></li>
                    </ul>
                  </li>
                
                    <li><a>Pédagogie <span class=""></span></a>
                    <li><a>Evolution <span class=""></span></a>
                    <li><a>Organisation <span class=""></span></a>
                    <li><a>International<span class=""></span></a>
  					<li><a>Financier<span class=""></span></a>
 
                </ul>
              </div>
            </div>