 <div class="top_nav" th:fragment="deconnection">
            <div class="nav_menu">
                <div class="nav toggle">
                  <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                </div>
                <nav class="nav navbar-nav">
                <ul class=" navbar-right">
                <li class="nav-item " style="padding-left: 15px;">
                   <a href="javascript:;" class="user-profile">
                      <img src="/images/user.png" alt="">Deconnection
                    </a>
                 </li>
                </ul>
              </nav>
            </div>
 </div> 